.back-login {
  margin-top: 18px;
  font-size: 14px;
}
.back-login a {
  color: #ff7043;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
ion-content {
  --background: url('/assets/fondo.jpg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content::part(scroll) {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-input {
  color: #000 !important;
  --color: #000 !important;
  --placeholder-color: #777 !important;
  --placeholder-opacity: 1 !important;
}
.recover-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin: 40px auto 0 auto;
}

.logo {
  width: 100px;
  margin: 0 auto 20px;
}

.recover-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #2e7d32;
}

.input-field {
  margin-bottom: 15px;
  border-radius: 12px;
  --background: #f7f7f7;
  --padding-start: 12px;
}

.btn-recover {
  --background: #11ac54;
  --color: #fff;
  border-radius: 12px;
  height: 48px;
  font-weight: bold;
  margin-top: 10px;
}

.recover-message {
  margin-top: 18px;
  font-size: 14px;
}

.recover-message.success {
  color: #11ac54;
}

.recover-message.error {
  color: #ff7043;
}
